*{
margin: 0;
padding: 0;
}

#container{
margin: 0px auto;
width: 1000px;
margin-top: 1px;

}

input {
    display: block;
}
textarea{
    display:block;
}
#lookup{

    padding-left: 100px;
}

#lookup, #login{
    display:inline-block;
}
th {
    text-align: center;
}
