<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>These are the travels</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "travels/style.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body>
        <h1>Hello {{request.session.user.first_name}}</h1>
        <a href="{% url 'add_travel' %}">Add Travel Plan</a>

        <h2>Your Travel</h2>
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start</th>
            <th>Travel End</th>
            <th>Plan</th>
          </tr>
          <tr>

        {% for travel in travels %}
        {% if travel.traveler.first_name == request.session.user.first_name %}
        <td>{{ travel.traveler.first_name }}</td>
        <td><a href="/travel/destination/{{travel.id}}"> {{ travel.destination }}</a></td>
        <td> {{travel.travel_from}}</td>
        <td> {{travel.travel_to}}</td>
        <td> {{travel.description}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </table>
        <br>
        <h2> Other Travelers</h2>
        <table style="width:100%">
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start</th>
            <th>Travel End</th>
            <th>Do you wish to Join?</th>
          </tr>
          <tr>

        {% for travel in travels %}
        {% if travel.traveler.first_name != request.session.user.first_name %}
        <td>{{ travel.traveler.first_name }}</td>
        <td><a href="/travel/destination/{{travel.id}}"> {{ travel.destination }}</a></td>
        <td> {{travel.travel_from}}</td>
        <td> {{travel.travel_to}}</td>
        <td> <a href="/travel/join/{{travel.id}}">Join</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </table>
        <br>
        <br>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'index' %}">Home</a>
    </body>
</html>
